<section class="bg-gray-900 text-white py-16">
    <div class="max-w-4xl mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold text-blue-500 mb-4">Schedule a Free Discovery Call</h2>
      <p class="text-lg text-gray-300 mb-6">Book a free discovery call with our experts to discuss your data needs and find out how we can help you.</p>
      <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ3pTo-Cq40gl3Wc-DfedUItAy_RpH7RO8i-4xG7YHfZ-Qb5rxOtBoP6NzBejxPbAKWzuVyODmw_?gv=true" target="_blank">
        <button class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-sm hover:bg-blue-700 focus:ring-3 focus:outline-hidden">Schedule Now</button>
      </a>
    </div>
  </section>
  